:root {
--deafult-dark-font: #212121;
--grey-font: #757575;
--white-font: #ffffff;
--logo-font: #000000;
--blue-font: #2196f3;
--white-background: #f5f4fa;
--footer-contact-font: #ffffff99;
--dark-background: #2f303a;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--deafult-dark-font);
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.nav-site {
    border-bottom: 1px solid #ECECEC;
    box-shadow: 0 4px 4px #00000025;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 80px;
}
.main-links li {
    margin: 0 23px;
}
.logo {
    margin-left: 113px;
}
.upper-menu,
.main-links {
    display: flex; 
    align-items: center;
}
.contact-info a.contact-tel {
    padding-left: 50px;
}
.logo {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.16;
    color: var(--logo-font);
    outline: none;
}
.main-links a:hover,
.main-links a:focus,
.contact:hover,
.web,
.lower-menu .contact:focus,
.lower-menu .contact:hover,
.contact:focus
{
    color: var(--blue-font);
    outline: none;
}
.project-button button:hover,
.project-button button:focus {
    color: var(--white-font);
    background-color: var(--blue-font);
}
.main-links a {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
}
.main-links a,
.project-button button {
    color: var(--deafult-dark-font);
}
.main-links a,
a.contact-mail .contact-tel {
    text-decoration: none;
}
.contact-info {
    margin-right: 113px;
}
.contact-mail,
.contact-tel {
    color: var(--grey-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--white-font);
    text-align: center;
    max-width: 654px;
    margin: 0;
    padding-bottom: 30px;
    /* padding: 200px 252px 280px 252px;
    margin: 0 0; */
}
.service-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    background-color: var(--blue-font);
    color: var(--white-font);
    display: flex;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 10px 42px 10px 41px;
}
.main-header {
    height: 600px;
}

/* .test {
    display
    justify-content: center;
 } */
/* .service-button {padding: 500px 200px 500px;} */
.title-info {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}
.text-info {
    font-size: 14px;
    line-height: 1.71;
    color: var(--grey-font);
}
.articles {
    display: flex;
    gap: 30px;
    padding-top: 94px;
    padding-bottom: 94px;
    margin: 0;
}
.our-work-title,
.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.our-work-list {
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 0;
}
.our-work,
.our-team {
padding-top: 94px;
padding-bottom: 94px;
}
.our-team-list {
    display: flex;
    padding: 0;
}
.workers-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    display: block;
    padding-top: 30px;
    padding-bottom: 10px;
}
.workplace {
    font-size: 16px;
    line-height: 1.18;
    color: var(--grey-font);
    text-align: center;
    display: block;
    padding-bottom: 30px;
}
.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.description {
    font-size: 16px;
    line-height: 1.87;
    color: var(--grey-font);
}
.projects-list,
.our-work-list,
.our-team-list,
.main-links,
.articles {
    list-style-type: none;
}
.our-team {
    background-color: var(--white-background);
}
.our-team-card {
display: inline-block;
padding-left: 0;
padding-right: 30px;
align-items: center;
background-color: var(--white-font);

}
.project-button button {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background-color: var(--white-background);
    outline: none; 
    border: none; 
    border-radius: 4px;
}
.lower-menu a.logo {
    color: var(--white-font);
}
.company-street,
.lower-menu a.contact-tel,
.lower-menu a.contact-mail {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.lower-menu a.contact {
    color: var(--footer-contact-font);
}
.company-street {
    color: var(--white-font);
}
a.mail-underline {
    text-decoration: underline;
}
.lower-menu,
.main-header {
    background-color: var(--dark-background);
}

.test {
    padding: 200px 250px 280px 250px;
    display: flex;
    flex-direction:column;
    align-items: center;
}